@import 'mixins';

:host {
  @include standard-demo-page;
  .description-editor {
    margin-top: 0.5rem;
  }
  .control-buttons {
    margin-top: 0.25rem;
    .delete-button {
      @include light-mini-button;
      display: inline-block;
    }
  }
  .info-grid {
    margin-top: 0.5rem;
  }
  p {
    margin: 1rem 0;
  }
}

.grid-container {
  display: flex;
  width: 100%;
  height: 500px;
  flex-direction: column;
  dwu-image-grid {
    flex: 1 1 0;
  }
}