<ng-container *ngIf="selectedImageStream$ | async as selectedImageStream">
  <h3>
    Simulating {{ selectedImageStream.label || selectedImageStream.id }}
  </h3>
  <p>
    This runs the Device in this browser.  For improved performance, download the app from on the device.
  </p>
  <div class="phone-demo">
    <dwu-pp-test-app [user]="user$ | async" [streamId]="(selectedImageStream$ | async)?.id"></dwu-pp-test-app>
  </div>
  <p>
    <a [routerLink]="['/pp/pp-test-app']">Click here to go to the full-size app</a>
  </p>
</ng-container>